/* #user {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0px;
  left: 15vw;
  width: 85vw;
  position: absolute;
}

#user > * {
  padding: 10px;
}

#user .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

#user .metrics {
  display: flex;
  justify-content: center;
  align-items: center;
} */