.App {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 10vh;
  height: 100vh;
  background-color: #5b677a; }

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

.auth-page > * {
  width: 50vw;
  box-sizing: border-box; }

.auth-left {
  padding-right: 15px;
  text-align: right; }

.auth-right {
  padding-left: 15px;
  display: flex;
  flex-direction: column; }

.auth-right-container {
  width: 50%; }

.auth-back {
  right: 0px;
  text-align: center;
  bottom: 0px; }

.auth-form-div {
  display: flex;
  align-items: center; }

.auth-form-div > .icon {
  margin-right: 10px; }

.auth-form > * {
  padding: 0; }

@media only screen and (max-width: 720px) {
  .auth-page {
    flex-direction: column;
    align-items: center; }
  .auth-left {
    text-align: center;
    padding: 0; }
  .auth-right {
    padding: 0;
    align-items: center;
    width: 75%; }
    .auth-right-container {
      width: 100%; } }

.hidden {
  display: none; }

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 33;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-container {
  background-color: #5b677a;
  border-radius: 5px;
  padding: 18px 15px 15px; }

.modal-header {
  font-size: 1.2em; }

.modal-message {
  padding: 2px;
  font-size: 1em; }

.modal-buttons {
  display: flex;
  padding-top: 8px; }

.modal-buttons > * {
  width: 100%;
  margin: 8px 5px; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  form > * {
    width: 100%; }

input {
  width: 100%;
  margin: 5px 0px;
  padding: 10px;
  padding-left: 15px;
  display: inline-block;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #5b677a;
  color: white;
  text-align: center;
  box-shadow: inset 0px 0px 10px 0px #333333; }
  input::placeholder {
    color: white; }
  input:valid {
    background-color: #5b677a; }
  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    background-color: #5b677a !important; }

ul {
  list-style-type: none;
  width: 100%;
  padding: 0; }

.button,
button {
  background-color: #5b677a;
  border: 1.5px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 5px;
  margin: 8px 0px;
  text-align: center;
  width: 100%;
  min-height: min-content;
  color: white;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5)); }
  .button.cancel,
  button.cancel {
    background-color: #775e5e; }
  .button.success,
  button.success {
    background-color: #5b677a;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }
  .button > .innertext,
  button > .innertext {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .button-icon,
  button-icon {
    border: 1.5px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5); }
    .button-icon.selected,
    button-icon.selected {
      background-color: rgba(150, 150, 150, 0.7);
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0); }
    .button-icon.notify,
    button-icon.notify {
      background-color: red; }
  .button.error-msg,
  button.error-msg {
    background-color: #775e5e;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0));
    border: none; }
  @media (hover: hover) {
    .button:hover,
    button:hover {
      cursor: pointer;
      background-color: rgba(150, 150, 150, 0.7); }
    .button.success:hover,
    button.success:hover {
      background-color: #5b677a;
      cursor: default; }
    .button.cancel:hover,
    button.cancel:hover {
      filter: brightness(0.7); }
    .button.error-msg:hover,
    button.error-msg:hover {
      background-color: #775e5e;
      cursor: default; } }
  .button:active, .button-icon:active,
  button:active,
  button-icon:active {
    background-color: lightgray; }

.icon {
  width: 20px;
  height: 20px;
  filter: invert(100);
  transition: 0.5s; }
  .icon.upsidedown {
    transform: rotate(180deg);
    transition: 0.5s; }
  .icon.left {
    position: absolute;
    left: 15px;
    border-radius: 50%; }
  .icon.right {
    position: absolute;
    right: 15px;
    border-radius: 50%; }
  .icon.large {
    width: 35px;
    height: 35px;
    padding: 10px; }
  @media (hover: hover) {
    .icon:hover {
      cursor: pointer; } }

.scroll-div {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .scroll-div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    .scroll-div-container > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  .scroll-div > * {
    width: 90%;
    max-width: 225px; }
  .scroll-div:after {
    content: '';
    opacity: 0;
    z-index: -11;
    transition: 0.2s; }
  .scroll-div.fade-bottom:after {
    content: '';
    position: absolute;
    z-index: 22;
    top: 93%;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0), #5b677a 90%);
    height: 18%;
    opacity: 1;
    transition: 0.2s; }
  .scroll-div.fade-top:before {
    content: '';
    position: absolute;
    z-index: 22;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(1, 1, 1, 0), #5b677a 90%);
    height: 9%;
    opacity: 1;
    transition: 0.2s; }

::-webkit-scrollbar {
  width: 15px;
  margin-right: -15px;
  display: none;
  /* Handle */ }
  ::-webkit-scrollbar-track {
    display: none; }
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 7px; }
    ::-webkit-scrollbar-thumb:hover {
      background: #white;
      cursor: pointer; }

#friends {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  text-align: center; }
  #friends > * {
    display: flex;
    max-width: 250px;
    min-width: 245px; }
  #friends > .views {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    max-width: 150px;
    min-height: 90px; }
  #friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    #friends-list > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  #friends-add {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #friends-add > * {
      display: flex;
      justify-content: center;
      width: 100%; }

.friends-pending {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center; }

.profile {
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile-menu {
    height: 30px;
    transform: scaleY(1);
    transition: 0.5s; }
    .profile-menu > * {
      margin: 0px 6px; }
    .profile-menu.hidden {
      height: 0;
      transform: scaleY(0);
      transition: 0.5s; }

#groups {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  text-align: center; }
  #groups > * {
    display: flex;
    max-width: 250px;
    min-width: 245px; }
  #groups > .views {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    max-width: 150px;
    min-height: 90px; }
  #groups-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    #groups-list > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  #groups-add {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #groups-add > * {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  height: 75px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; }

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%; }

.nav-links > a {
  margin: 0px 10px;
  text-decoration: none;
  color: inherit; }

.nav-links > .current {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em; }

@media only screen and (max-width: 720px) {
  .nav-links > a {
    margin: 0px; } }
