.App {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  font-family: 'Lora', serif;
  position: relative; }

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6b7a8f;
  width: 100vw;
  height: 100vh; }
  #loading-screen .loading-icon {
    max-width: 50px; }

#routes {
  position: absolute;
  right: 0;
  width: calc(100vw - 325px);
  min-width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black; }
  @media only screen and (max-width: 390px) {
    #routes {
      top: 0;
      width: 100vw;
      max-width: 100vw;
      height: calc(100vh - 50px); } }

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .auth-page .auth-top-half {
    font-family: 'Kara', sans-serif;
    background-color: #6b7a8f;
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.5s; }
    @media only screen and (max-height: 600px) {
      .auth-page .auth-top-half {
        height: 80vh; } }
    .auth-page .auth-top-half #auth-nav {
      margin-top: 2.2em;
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      width: 20%;
      height: max-content;
      min-height: 24px;
      position: relative; }
      .auth-page .auth-top-half #auth-nav .button-text.left,
      .auth-page .auth-top-half #auth-nav .selected.left {
        position: absolute;
        left: 0; }
      .auth-page .auth-top-half #auth-nav .button-text.right,
      .auth-page .auth-top-half #auth-nav .selected.right {
        position: absolute;
        right: 0; }
      .auth-page .auth-top-half #auth-nav .selected {
        position: relative;
        font-size: 1.5em;
        font-weight: bold;
        transition: 0.3s; }
      @media only screen and (max-width: 560px) {
        .auth-page .auth-top-half #auth-nav {
          width: 45%;
          margin-top: 2.2em; } }
    .auth-page .auth-top-half .form-space {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 320px;
      max-height: 500px; }
      .auth-page .auth-top-half .form-space .icon.right {
        right: -30px;
        top: 35px;
        left: auto; }
      .auth-page .auth-top-half .form-space .auth-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        height: 100%;
        overflow: hidden;
        transition: height 0s 0.25s, visibility 0s, opacity 0.25s 0.25s; }
        .auth-page .auth-top-half .form-space .auth-form.transparent {
          opacity: 0;
          height: 0;
          transition: height 0s 0.25s, visibility 0s 0.25s, opacity 0.25s; }
    .auth-page .auth-top-half .orange-wedge {
      position: absolute;
      bottom: 0;
      max-height: 17vh;
      opacity: 1;
      transition: max-height 0s, opacity 0.5s; }
      .auth-page .auth-top-half .orange-wedge.collapsed {
        max-height: 0;
        opacity: 0;
        transition: max-height 0s 0.5s, opacity 0.5s; }
  .auth-page .auth-bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 40vh;
    width: 100vw;
    background-color: white;
    color: black;
    transition: 0.5s; }
    .auth-page .auth-bottom-half #split-blurb {
      position: absolute;
      text-align: center;
      min-width: 200px;
      max-width: 500px; }
      .auth-page .auth-bottom-half #split-blurb p {
        font-style: italic;
        margin: 5px 10%; }
      .auth-page .auth-bottom-half #split-blurb .split-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
        font-size: 2em;
        letter-spacing: 3px; }
    @media only screen and (max-height: 600px) {
      .auth-page .auth-bottom-half {
        height: 20vh; } }

.auth-form {
  display: flex;
  align-items: center;
  justify-content: center; }

.auth-form-div {
  display: flex;
  align-items: center;
  justify-content: center; }

.auth-form-div > .icon {
  margin-right: 10px;
  margin-bottom: -5px; }

.hidden {
  display: none; }

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 33;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-container {
  background-color: #6b7a8f;
  border-radius: 5px;
  padding: 18px 15px 15px; }

.modal-header {
  font-size: 1.2em; }

.modal-message {
  padding: 2px;
  font-size: 1em; }

.modal-buttons {
  display: flex;
  padding-top: 8px; }

.modal-buttons > * {
  width: 100%;
  margin: 8px 5px; }

@media (hover: hover) {
  .click-to-delete:hover {
    cursor: url("/images/remove-cursor.png") 15 6, pointer;
    font-style: italic; } }

.large-avatar {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #ccc; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  form > * {
    width: 100%; }

a {
  text-decoration: underline;
  text-align: center; }
  a:visited {
    color: #ccc; }
  a:hover {
    cursor: pointer;
    color: orange;
    font-size: 1.05em; }
  a:active {
    color: white; }
  a.small {
    z-index: 22;
    font-size: 0.7em; }
    a.small:hover {
      font-size: 0.8em; }

h1,
h2,
h3,
h4 {
  margin: 3px 0px; }

input {
  width: 100%;
  margin: 5px 0px;
  padding: 10px 10px 4px;
  display: inline-block;
  border: none;
  border-bottom: 1.25px solid white;
  box-sizing: border-box;
  background-color: #6b7a8f;
  color: white;
  font-size: 1em;
  font-family: 'Karla' sans-serif; }
  input::placeholder {
    color: #ccc; }
  input:valid {
    background-color: #6b7a8f; }
  input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    background-color: #6b7a8f !important;
    background-image: none !important;
    margin: 5px 0px;
    padding: 5px 0px 4px;
    -webkit-appearance: inherit; }

*:focus {
  outline: none; }

ul {
  list-style-type: none;
  width: 100%;
  padding: 0; }

.button-text {
  font-size: 1em;
  transition: 0.2s; }
  @media (hover: hover) {
    .button-text:hover {
      cursor: pointer;
      font-size: 1.2em;
      transition: 0.2s; } }

.button,
button {
  background-color: white;
  position: relative;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px 20px;
  margin: 6px 0px;
  text-align: center;
  width: 75%;
  min-width: 150px;
  min-height: min-content;
  color: black;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2)); }
  .button.cancel,
  button.cancel {
    background-color: #775e5e; }
  .button.success,
  button.success {
    background-color: #5b677a;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }
  .button > .innertext,
  button > .innertext {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .button-icon,
  button-icon {
    border: 1.5px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2); }
    .button-icon.selected,
    button-icon.selected {
      background-color: rgba(150, 150, 150, 0.7);
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0); }
    .button-icon.notify,
    button-icon.notify {
      background-color: red; }
  .button.error-msg,
  button.error-msg {
    background-color: #775e5e;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0));
    border: none; }
  @media (hover: hover) {
    .button:hover,
    button:hover {
      cursor: pointer;
      background-color: rgba(150, 150, 150, 0.7);
      background-color: orange; }
    .button.success:hover,
    button.success:hover {
      background-color: #5b677a;
      cursor: default; }
    .button.cancel:hover,
    button.cancel:hover {
      filter: brightness(0.7); }
    .button.error-msg:hover,
    button.error-msg:hover {
      background-color: #775e5e;
      cursor: default; } }
  .button:active, .button-icon:active,
  button:active,
  button-icon:active {
    background-color: lightgray; }

.icon {
  width: 20px;
  height: 20px;
  filter: invert(100);
  transition: 0.5s; }
  .icon.upsidedown {
    transform: rotate(180deg);
    transition: 0.5s; }
  .icon.left {
    position: absolute;
    left: 15px;
    border-radius: 50%; }
  .icon.right {
    position: absolute;
    right: 15px;
    border-radius: 50%; }
  .icon.large {
    width: 35px;
    height: 35px;
    padding: 10px; }
  @media (hover: hover) {
    .icon:hover {
      cursor: pointer; } }
  @media (prefers-color-scheme: dark) {
    .icon {
      filter: invert(0); } }

.scroll-div {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .scroll-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%; }
    .scroll-div-container > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  .scroll-div > * {
    width: 90%; }
  .scroll-div:after {
    content: '';
    opacity: 0;
    z-index: -11;
    transition: 0.2s; }
  .scroll-div.fade-bottom:after {
    content: '';
    position: absolute;
    z-index: 22;
    top: 93%;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0), #6b7a8f 90%);
    height: 18%;
    opacity: 1;
    transition: 0.2s; }
  .scroll-div.fade-top:before {
    content: '';
    position: absolute;
    z-index: 22;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(1, 1, 1, 0), #6b7a8f 90%);
    height: 9%;
    opacity: 1;
    transition: 0.2s; }

.drop-down.container {
  border: 1.5px solid darkgray;
  border-radius: 5px;
  padding: 0px 8px; }

.drop-down.open {
  width: 100%;
  height: auto;
  max-height: 235px;
  overflow: scroll;
  transition: max-height 0.3s; }
  .drop-down.open > .button {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }

.drop-down.closed {
  max-height: 0px;
  width: 100%;
  overflow: scroll;
  transition: max-height 0.3s; }
  .drop-down.closed > .button {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }

.drop-down.message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  position: relative; }

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px; }
  .comma-list li {
    display: inline; }
    .comma-list li:first-child:before {
      content: '  '; }
    .comma-list li:after {
      content: ', '; }
    .comma-list li:last-child:after {
      content: ''; }

::-webkit-scrollbar {
  width: 15px;
  margin-right: -15px;
  display: none;
  /* Handle */ }
  ::-webkit-scrollbar-track {
    display: none; }
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 7px; }
    ::-webkit-scrollbar-thumb:hover {
      background: #white;
      cursor: pointer; }

#friends {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  text-align: center; }
  #friends > * {
    display: flex;
    max-width: 250px;
    min-width: 245px; }
  #friends > .views {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    max-width: 150px;
    min-height: 90px; }
  #friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    #friends-list > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  #friends-add {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #friends-add > * {
      display: flex;
      justify-content: center;
      width: 100%; }

.friends-pending {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center; }

.profile {
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile-menu {
    height: 30px;
    transform: scaleY(1);
    transition: 0.5s; }
    .profile-menu > * {
      margin: 0px 6px; }
    .profile-menu.hidden {
      height: 0;
      transform: scaleY(0);
      transition: 0.5s; }

#groups {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  text-align: center; }
  #groups > * {
    display: flex;
    max-width: 250px;
    min-width: 245px; }
  #groups > .views {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    max-width: 150px;
    min-height: 90px; }
  #groups-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    #groups-list > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  #groups-add {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #groups-add > * {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.bullet {
  display: block;
  margin-top: 1px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1.5px solid white; }
  .bullet.filled {
    border: 1.5px solid white;
    background-color: orange; }
  .bullet.mobile {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    background-color: orange;
    transition: 0.3s;
    transition-timing-function: ease-out; }

#nav {
  font-family: 'Kara', sans-serif;
  position: fixed;
  left: 0px;
  top: 0;
  width: 20vw;
  max-width: 325px;
  height: 100vh;
  background-color: #6b7a8f;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 390px) {
    #nav {
      bottom: 0;
      top: inherit;
      width: 100vw;
      max-width: 100vw;
      height: 10vh;
      min-height: 50px; } }

.nav-header {
  width: 100%;
  padding: 10% 10px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media only screen and (max-width: 390px) {
    .nav-header {
      display: none; } }

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .nav-links .link-item {
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
    .nav-links .link-item .bullet {
      position: absolute;
      right: 10px; }
    .nav-links .link-item .icon {
      position: absolute;
      left: 10px; }
      .nav-links .link-item .icon.center {
        position: relative;
        left: 0; }
  @media only screen and (min-width: 700px) {
    .nav-links .link-item.current {
      background-color: #79879A; } }

@media only screen and (min-width: 700px) and (hover: hover) {
  .nav-links .link-item:hover {
    cursor: pointer;
    background-color: #79879A; } }
  @media only screen and (max-width: 390px) {
    .nav-links {
      flex-direction: row;
      justify-content: space-evenly;
      height: 100%; } }

.nav-footer {
  position: absolute;
  bottom: 15px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.75em; }
  @media only screen and (max-width: 390px) {
    .nav-footer {
      display: none; } }

#receipts {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  text-align: center; }
  #receipts > * {
    display: flex;
    max-width: 250px;
    min-width: 245px; }
  #receipts > .views {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    max-width: 150px;
    min-height: 90px; }
  #receipts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    #receipts-list > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  #receipts-add {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #receipts-add > * {
      display: flex;
      justify-content: center;
      width: 100%; }

.row-item {
  background-color: #5b677a;
  position: relative;
  border: 1.5px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px 5px;
  margin: 8px 0px;
  text-align: center;
  width: 100%;
  min-height: min-content;
  color: white;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center; }
  .row-item > .innertext {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

table {
  border-collapse: collapse; }

#receipt-table {
  width: 65vw;
  max-width: 1000px;
  min-width: 550px; }
  #receipt-table > tr {
    border-bottom: 1px solid #ccc; }
    #receipt-table > tr:last-child {
      border-bottom: none; }
    #receipt-table > tr.deleted-row {
      color: grey !important; }
    #receipt-table > tr > td {
      position: relative;
      padding: 0px; }
      #receipt-table > tr > td > input {
        padding: 0;
        padding-left: 0;
        margin: 0; }
    #receipt-table > tr > .editbutton {
      max-width: 25px; }
    #receipt-table > tr > .item {
      max-width: 70px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left; }
    #receipt-table > tr > .cost {
      max-width: 40px;
      white-space: nowrap; }
    #receipt-table > tr > .users {
      max-width: 95px;
      text-align: left; }

.receipt-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  text-align: center;
  width: 90%; }
  .receipt-edit > ul {
    display: flex;
    justify-content: space-around;
    margin: 1px;
    max-width: 60vw; }
  .receipt-edit > * {
    max-width: 100%; }

.select-user.container {
  position: relative;
  width: 100%;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  margin-top: 1.5px;
  text-align: center; }

.select-user.open {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 235px;
  overflow: scroll;
  transition: max-height 0.3s; }
  .select-user.open > .button {
    padding: 0;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }

.select-user.closed {
  position: relative;
  max-height: 0px;
  width: 100%;
  overflow: scroll;
  border: none;
  transition: max-height 0.3s; }
  .select-user.closed > .button {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }

.select-user.message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  margin-right: 35px; }
  .select-user.message > .comma-list {
    margin: 0; }
    .select-user.message > .comma-list > li {
      align-content: center; }
