.App {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  font-family: 'Lora', serif;
  position: relative; }

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3c434d;
  width: 100vw;
  height: 100vh; }
  #loading-screen .loading-icon {
    max-width: 50px; }

#routes {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  color: black;
  position: absolute;
  right: 0;
  width: calc(100vw - 150px);
  min-width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }
  @media only screen and (max-width: 390px) {
    #routes {
      top: 0;
      width: 100vw;
      max-width: 100vw;
      max-height: 90vh;
      height: calc(100vh - 50px); } }

@media (prefers-color-scheme: dark) {
  .App {
    color: #f2f2f2;
    background-color: white; }
  #routes {
    color: black;
    background-color: white; } }

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .auth-page .auth-top-half {
    font-family: 'Kara', sans-serif;
    background-color: #3c434d;
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.5s; }
    @media only screen and (max-height: 600px) {
      .auth-page .auth-top-half {
        height: 80vh; } }
    .auth-page .auth-top-half #auth-nav {
      margin-top: 2.2em;
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      width: 20%;
      height: max-content;
      min-height: 24px;
      position: relative; }
      .auth-page .auth-top-half #auth-nav .button-text.left,
      .auth-page .auth-top-half #auth-nav .selected.left {
        position: absolute;
        left: 0; }
      .auth-page .auth-top-half #auth-nav .button-text.right,
      .auth-page .auth-top-half #auth-nav .selected.right {
        position: absolute;
        right: 0; }
      .auth-page .auth-top-half #auth-nav .selected {
        position: relative;
        font-size: 1.5em;
        font-weight: bold;
        transition: 0.3s; }
      @media only screen and (max-width: 560px) {
        .auth-page .auth-top-half #auth-nav {
          width: 45%;
          margin-top: 2.2em; } }
    .auth-page .auth-top-half .form-space {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 320px;
      max-height: 500px; }
      .auth-page .auth-top-half .form-space .icon.right {
        right: -30px;
        top: 35px;
        left: auto; }
      .auth-page .auth-top-half .form-space .auth-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        height: 100%;
        overflow: hidden;
        transition: height 0s 0.25s, visibility 0s, opacity 0.25s 0.25s; }
        .auth-page .auth-top-half .form-space .auth-form.transparent {
          opacity: 0;
          height: 0;
          transition: height 0s 0.25s, visibility 0s 0.25s, opacity 0.25s; }
    .auth-page .auth-top-half .orange-wedge {
      position: absolute;
      bottom: 0;
      max-height: 17vh;
      opacity: 1;
      transition: max-height 0s, opacity 0.5s; }
      .auth-page .auth-top-half .orange-wedge.collapsed {
        max-height: 0;
        opacity: 0;
        transition: max-height 0s 0.5s, opacity 0.5s; }
  .auth-page .auth-bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 40vh;
    width: 100vw;
    background-color: white;
    color: black;
    transition: 0.5s; }
    .auth-page .auth-bottom-half #split-blurb {
      position: absolute;
      text-align: center;
      min-width: 200px;
      max-width: 500px; }
      .auth-page .auth-bottom-half #split-blurb p {
        font-style: italic;
        margin: 5px 10%; }
      .auth-page .auth-bottom-half #split-blurb .split-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-style: italic;
        font-size: 2em;
        letter-spacing: 3px; }
    @media only screen and (max-height: 600px) {
      .auth-page .auth-bottom-half {
        height: 20vh; } }

.auth-form {
  display: flex;
  align-items: center;
  justify-content: center; }

.auth-form-div {
  display: flex;
  align-items: center;
  justify-content: center; }

.auth-form-div > .icon {
  margin-right: 10px;
  margin-bottom: -5px; }

.hidden {
  display: none; }

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 33;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-container {
  background-color: #3c434d;
  border-radius: 5px;
  padding: 18px 15px 15px; }

.modal-header {
  font-size: 1.2em; }

.modal-message {
  padding: 2px;
  font-size: 1em; }

.modal-buttons {
  display: flex;
  padding-top: 8px; }

.modal-buttons > * {
  width: 100%;
  margin: 8px 5px; }

@media (hover: hover) {
  .click-to-delete:hover {
    cursor: url("/images/remove-cursor.png") 15 6, pointer;
    font-style: italic; } }

.large-avatar {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #ccc; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  form > * {
    width: 100%; }

a {
  text-decoration: underline;
  text-align: center; }
  a:visited {
    color: #ccc; }
  a:hover {
    cursor: pointer;
    color: orange;
    font-size: 1.05em; }
  a:active {
    color: white; }
  a.small {
    z-index: 22;
    font-size: 0.7em; }
    a.small:hover {
      font-size: 0.8em; }

h1,
h2,
h3,
h4 {
  margin: 3px 0px; }

input {
  width: 100%;
  margin: 5px 0px;
  padding: 10px 10px 4px;
  display: inline-block;
  border: none;
  border-bottom: 1.25px solid white;
  box-sizing: border-box;
  background-color: #3c434d;
  color: white;
  font-size: 1em;
  font-family: 'Karla' sans-serif; }
  input::placeholder {
    opacity: 0.6; }
  input:valid {
    background-color: #3c434d; }
  input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    background-color: #3c434d !important;
    background-image: none !important;
    margin: 5px 0px;
    padding: 5px 0px 4px;
    -webkit-appearance: inherit; }
  input.textarea-only {
    font-size: 0.8em;
    color: #7f7f7f;
    background-color: inherit;
    padding: 5px 10px;
    margin: 0;
    border: none; }
  input.outline-only {
    text-align: center;
    font-size: 0.8em;
    color: black;
    background-color: inherit;
    padding: 5px 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px; }

*:focus {
  outline: none; }

ul {
  list-style-type: none;
  width: 100%;
  padding: 0; }

.button-text {
  font-size: 1em;
  transition: 0.2s; }
  @media (hover: hover) {
    .button-text:hover {
      cursor: pointer;
      font-size: 1.2em;
      transition: 0.2s; } }

.button,
button {
  background-color: white;
  position: relative;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px 20px;
  margin: 6px 0px;
  text-align: center;
  width: 75%;
  min-width: 200px;
  min-height: min-content;
  color: black;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2)); }
  .button.card,
  button.card {
    border: 1px solid #d6dbe0;
    border-radius: 5px;
    filter: none;
    padding: 12px 0px;
    margin: 4px 0px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s; }
  .button.red,
  button.red {
    background-color: red; }
    @media (hover: hover) {
      .button.red:hover,
      button.red:hover {
        background-color: darkred; } }
  .button.collapsed,
  button.collapsed {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s; }
  .button > .innertext,
  button > .innertext {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  @media (hover: hover) {
    .button:hover,
    button:hover {
      cursor: pointer;
      background-color: rgba(150, 150, 150, 0.7);
      background-color: orange;
      color: white;
      transition: 0s; } }
  .button:active, .button-icon:active,
  button:active,
  button-icon:active {
    background-color: darkorange; }

.user-row-container {
  display: flex;
  margin-bottom: 5px; }

.added-user-row {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 28px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 2px;
  text-align: center; }

.round-icon-button {
  border-radius: 50%;
  width: 26px;
  min-width: 26px;
  height: 26px;
  margin: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc; }
  .round-icon-button.red {
    background-color: red; }
  .round-icon-button.selected {
    background-color: #79879a; }
  @media (hover: hover) {
    .round-icon-button:hover {
      background-color: #79879a;
      transition: 0.2s;
      cursor: pointer; } }

.icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: 0.2s; }
  .icon.gray, .icon.grey {
    filter: invert(0.4); }
  .icon.upsidedown {
    transform: rotate(180deg);
    transition: 0.5s; }
  .icon.left {
    position: absolute;
    left: 15px;
    border-radius: 50%; }
  .icon.right {
    position: absolute;
    right: 15px;
    border-radius: 50%; }
  .icon.large {
    width: 35px;
    height: 35px;
    padding: 10px; }
  @media (hover: hover) {
    .icon:hover {
      cursor: pointer; } }
  @media (prefers-color-scheme: dark) {
    .icon {
      filter: invert(1); }
      .icon.gray, .icon.grey {
        filter: invert(0.4); } }

.scroll-div {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
  scroll-behavior: smooth; }
  .scroll-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative; }
    .scroll-div-container .title {
      position: absolute;
      top: 0; }
    .scroll-div-container .scroll-arrow {
      background-color: white;
      position: absolute;
      z-index: 33;
      opacity: 1;
      visibility: visible;
      justify-content: center;
      height: 30px;
      padding: 4px;
      margin: 10px 0px;
      transition: visibility 0s, opacity 0.2s; }
      .scroll-div-container .scroll-arrow.top {
        top: 0;
        top: -34px;
        margin-bottom: 0; }
      .scroll-div-container .scroll-arrow.bottom {
        bottom: 0;
        margin-top: 5px; }
      .scroll-div-container .scroll-arrow.hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.2s, opacity 0.2s; }
      .scroll-div-container .scroll-arrow:active {
        background-color: #ccc; }

.select-user.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 28px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 2px;
  text-align: center; }

.select-user.user-item {
  min-height: 28px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border-top: 1px solid rgba(0, 0, 0, 0.0975);
  position: relative; }
  @media (hover: hover) {
    .select-user.user-item:hover {
      cursor: pointer;
      background-color: #ccc;
      background-color: #79879a; } }
  .select-user.user-item:active {
    background-color: orange; }

.select-user.open {
  position: relative;
  overflow: scroll;
  width: 100%;
  height: auto;
  max-height: 235px;
  transition: max-height 0.3s; }
  .select-user.open > .button {
    padding: 0;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }

.select-user.closed {
  position: relative;
  max-height: 0px;
  width: 100%;
  overflow: scroll;
  border: none;
  transition: max-height 0.3s; }
  .select-user.closed > .button {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }

.select-user.message {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .select-user.message > .comma-list {
    margin: 0; }
    .select-user.message > .comma-list > li {
      align-content: center; }

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 175px;
  max-height: 30px;
  padding: 0px 4px 0px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: 0.6s; }
  .search-div.hidden {
    max-width: 0px;
    padding: 0;
    margin: 0;
    border: 1px solid white;
    transition: 0.6s; }
    .search-div.hidden img {
      width: 0;
      transition: 0.6s; }
    .search-div.hidden input {
      visibility: hidden; }
  .search-div .icon {
    opacity: 0.3; }

.menu {
  min-height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: relative; }
  .menu-views {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    max-width: 50px;
    right: 30px; }

.drop-down.container {
  border: 1.5px solid darkgray;
  border-radius: 5px;
  padding: 0px 8px; }

.drop-down.open {
  width: 100%;
  height: auto;
  max-height: 235px;
  overflow: scroll;
  transition: max-height 0.3s; }
  .drop-down.open > .button {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }

.drop-down.closed {
  max-height: 0px;
  width: 100%;
  overflow: scroll;
  transition: max-height 0.3s; }
  .drop-down.closed > .button {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0)); }

.drop-down.message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  position: relative; }

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px; }
  .comma-list li {
    display: inline; }
    .comma-list li:first-child:before {
      content: '  '; }
    .comma-list li:after {
      content: ', '; }
    .comma-list li:last-child:after {
      content: ''; }

::-webkit-scrollbar {
  width: 10px;
  margin-right: -15px;
  display: none;
  /* Handle */ }
  ::-webkit-scrollbar-track {
    display: none; }
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 7px; }
    ::-webkit-scrollbar-thumb:hover {
      background: white;
      cursor: pointer; }

#friends {
  position: relative;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  #friends > .views {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 10vw;
    max-width: 100px;
    background-color: #30363d;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 1s, display 0s 1s; }
  #friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    #friends-list > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  #friends-add {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #friends-add > * {
      display: flex;
      justify-content: center;
      width: 100%; }

.friends-pending {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center; }

.profile {
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile-menu {
    height: 30px;
    transform: scaleY(1);
    transition: 0.5s; }
    .profile-menu > * {
      margin: 0px 6px; }
    .profile-menu.hidden {
      height: 0;
      transform: scaleY(0);
      transition: 0.5s; }

#groups {
  position: relative;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  #groups > .views {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    max-width: 150px;
    min-height: 90px; }
  #groups-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    #groups-list > * {
      display: flex;
      flex-direction: column;
      width: 100%; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.bullet {
  display: block;
  margin-top: 1px;
  height: 8px;
  width: 8px;
  border-radius: 50%; }
  .bullet.mobile {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    background-color: orange;
    transition: 0.3s;
    transition-timing-function: ease-out; }

#nav {
  font-family: 'Kara', sans-serif;
  position: fixed;
  left: 0px;
  top: 0;
  width: 20vw;
  max-width: 150px;
  height: 100vh;
  background-color: #3c434d;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 390px) {
    #nav {
      bottom: 0;
      top: inherit;
      width: 100vw;
      max-width: 100vw;
      height: 10vh;
      min-height: 50px; } }

.nav-header {
  width: 100%;
  padding: 10% 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media only screen and (max-width: 390px) {
    .nav-header {
      display: none; } }

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 0.85em;
  text-align: left; }
  .nav-links .link-item {
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
    .nav-links .link-item .navlink-text {
      position: absolute;
      left: 50px; }
    .nav-links .link-item .bullet {
      position: absolute;
      right: 15px; }
    .nav-links .link-item .icon {
      position: absolute;
      left: 10px; }
      .nav-links .link-item .icon.center {
        position: relative;
        left: 0; }
  @media only screen and (min-width: 700px) {
    .nav-links .link-item.current {
      background-color: #30363d; } }

@media only screen and (min-width: 700px) and (hover: hover) {
  .nav-links .link-item:hover {
    cursor: pointer;
    background-color: #30363d; } }
  @media only screen and (max-width: 390px) {
    .nav-links {
      flex-direction: row;
      justify-content: space-evenly;
      height: 100%; } }

.nav-footer {
  position: absolute;
  bottom: 15px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.75em; }
  @media only screen and (max-width: 390px) {
    .nav-footer {
      display: none; } }

#receipts {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  text-align: center; }
  #receipts > * {
    display: flex;
    max-width: 250px;
    min-width: 245px; }
  #receipts > .views {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    max-width: 150px;
    min-height: 90px; }
  #receipts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    #receipts-list > * {
      display: flex;
      flex-direction: column;
      width: 100%; }
  #receipts-add {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #receipts-add > * {
      display: flex;
      justify-content: center;
      width: 100%; }

.row-item {
  background-color: #5b677a;
  position: relative;
  border: 1.5px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px 5px;
  margin: 8px 0px;
  text-align: center;
  width: 100%;
  min-height: min-content;
  color: white;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center; }
  .row-item > .innertext {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

table {
  border-collapse: collapse; }

#receipt-table {
  width: 65vw;
  max-width: 1000px;
  min-width: 550px; }
  #receipt-table > tr {
    border-bottom: 1px solid #ccc; }
    #receipt-table > tr:last-child {
      border-bottom: none; }
    #receipt-table > tr.deleted-row {
      color: grey !important; }
    #receipt-table > tr > td {
      position: relative;
      padding: 0px; }
      #receipt-table > tr > td > input {
        padding: 0;
        padding-left: 0;
        margin: 0; }
    #receipt-table > tr > .editbutton {
      max-width: 25px; }
    #receipt-table > tr > .item {
      max-width: 70px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left; }
    #receipt-table > tr > .cost {
      max-width: 40px;
      white-space: nowrap; }
    #receipt-table > tr > .users {
      max-width: 95px;
      text-align: left; }

.receipt-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  text-align: center;
  width: 90%; }
  .receipt-edit > ul {
    display: flex;
    justify-content: space-around;
    margin: 1px;
    max-width: 60vw; }
  .receipt-edit > * {
    max-width: 100%; }
