@import '../Elements/Variables.scss';

#receipts {
  position: relative;

  background-color: $bg-ig;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

#receipt {
  &-edit {
    background-color: $bg-ig;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    width: 100%;
    height: 100%;
  }

  &-body {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
  }

  &-left {
    background-color: $bg-ig-lighter;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    min-width: 310px;
    height: 100%;

    transform: translateX(0);
    transition: 1s;
    // transition: transform 0.8s, width 0.8s, min-width 0.8s;
    // transition-timing-function: ease-out;

    @media only screen and (max-width: 760px) {
      position: absolute;
      width: 100%;
      z-index: 55;
      transition: width 0s, transform 1s;
    }

    &.hide-menu {
      transform: translateX(-310px);
      min-width: 0;
      width: 0%;
      transition: 1s;
      // transition: transform 1s, width 0.8s, min-width 0.8s;
      // transition-timing-function: ease-in;

      @media only screen and (max-width: 760px) {
        transform: translateX(-610px);
        transition: transform 1s, width 0s 1s;
      }
    }

    & #amounts-panel {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &-right {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    & .deleted-item-row {
      width: 100%;
      display: flex;
      justify-content: center;

      & .button.card.blue {
        width: 95%;
        border: 1px solid #ccc;
        background-color: gray;
      }
    }

    // @media only screen and (max-width: 760px) {
    //   // transform: translateX(-310px);
    //   // min-width: 310px;
    //   width: 0;
    //   // transition: transform 1s, width 0.5s 0.5s, min-width 0.5s 0.5s;
    // }
  }
}

//////////

.items-row {
  &.container {
    position: relative;

    background-color: white;
    color: black;

    border: 1px solid #d6dbe0;
    border-radius: 4px;

    width: 95%;

    padding-bottom: 10px; //for color-bar
    margin: 4px 0px;
    z-index: 11;

    // overflow: hidden;
    // max-height: 45px;

    // transition: 0.5s;

    // &.open {
    //   overflow: unset;
    //   max-height: 500px;
    // }

    & .confirm-delete {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba(150, 150, 150, 0.95);

      border-radius: 4px;

      z-index: 88;

      & > .options {
        display: flex;
        justify-content: space-evenly;

        & > * {
          border: none;
          min-height: 25px;
          max-height: 20px;
        }
      }
    }

    & .color-bar {
      background-color: $bg-ig-lighter;

      position: absolute;
      bottom: 0;

      display: flex;

      overflow: hidden;

      height: 12px;
      width: 100%;

      border-radius: 0px 0px 4px 4px;

      transition: 0.5s;

      &-segment {
        width: 100%;
      }

      &.collapsed {
        height: 0px;
        transition: 0.5s;
      }
    }
  }

  &.bottom-rows {
    overflow: hidden;
    // max-height: 500px; // maxHeight dynamically set in ItemsRow component
    transition: 0.5s;

    &.collapsed {
      max-height: 0;
      transition: 0.5s;
    }

    & .row {
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;

      min-height: 25px;
      margin: 5px 25px;

      & > .user-color-bar {
        background-color: grey;

        position: absolute;
        left: 0;

        height: 100%;
        width: 10px;

        border-radius: 4px 0 0 4px;

        transition: 0.5s;

        &.collapsed {
          border-radius: 4px 0 0 4px;

          width: 0;

          transition: 0.5s;
        }
      }

      & .user-row-container-buttonless {
        // position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        min-height: 25px;

        border: 1px solid #ccc;
        border-radius: 5px;

        color: $grey-text-darker;
      }

      & .row-button {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 214px; //same as 'add-friend' dropdown width;
        min-height: 28px;

        border: 1px solid #ccc;
        border-radius: 5px;

        background-color: white;

        @media (hover: hover) {
          &:hover {
            cursor: pointer;
            background-color: darkorange;
            color: white;
            transition: 0.2s;
            & img {
              filter: invert(1);
            }
          }
        }
      }

      & .delete-row {
        background-color: red;
        position: absolute;
        right: -8px;
        top: 0;
      }
    }

    & .user-row-container,
    .added-user-row {
      width: 242px;
      margin-bottom: 0;
    }

    & .round-icon-button {
      width: 20px;
      min-width: 20px;
      height: 20px;
      margin-top: 4px;
    }
  }

  &.top-row {
    display: flex;
    flex-direction: column;

    width: 75%;

    margin-left: 25px;

    & p {
      margin: 0;
      font-size: 0.9em;
    }

    & .row-bullet {
      border-radius: 50%;

      background-color: $app-bg-color;

      width: 5px;
      height: 5px;

      margin-right: 9px;
    }

    & .row {
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;

      min-height: 45px;

      & > input {
        margin: 0;
      }

      & .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        display: block;
        margin-right: 10px;

        display: flex;
        align-items: center;
      }

      & .amount {
        max-width: 75px;

        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

table {
  border-collapse: collapse;
}

#receipt-table {
  width: 65vw;
  max-width: 1000px;
  min-width: 550px;

  & > tr {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }

    &.deleted-row {
      color: grey !important;
    }

    & > td {
      position: relative;
      padding: 0px;

      & > input {
        padding: 0;
        padding-left: 0;
        margin: 0;
      }
    }

    & > .editbutton {
      max-width: 25px;
    }

    & > .item {
      max-width: 70px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }

    & > .cost {
      max-width: 40px;
      white-space: nowrap;
    }

    & > .users {
      max-width: 95px;
      text-align: left;
    }
  }
}
