@import './components/Main/Elements/Variables.scss';

.App {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // top: 10vh;
  height: 100vh;
  background-color: white;
  // background-color: white;
  font-family: 'Lora', serif;

  position: relative;
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $app-bg-color;
  width: 100vw;
  height: 100vh;
  .loading-icon {
    max-width: 50px;
  }
}

#routes {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  color: black;

  position: absolute;
  right: 0;
  width: calc(100vw - 325px);
  min-width: 80vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  // .icon {
  //   filter: invert(0);
  // }


  // background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   344deg,
  //   rgba(0, 0, 0, 0) 0%,
  //   rgba(172, 172, 172, 0.3) 100%
  // );

  @media only screen and (max-width: 390px) {
    top: 0;

    width: 100vw;
    max-width: 100vw;

    max-height: 90vh;
    height: calc(100vh - 50px);
  }
}
