@import './Variables.scss';

@media (hover: hover) {
  .click-to-delete:hover {
    cursor: url('/images/remove-cursor.png') 15 6, pointer;
    font-style: italic;
  }
}

.large-avatar {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #ccc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & > * {
    width: 100%;
  }
}

a {
  text-decoration: underline;
  text-align: center;

  &:visited {
    color: #ccc;
  }
  &:hover {
    cursor: pointer;
    color: orange;
    font-size: 1.05em;
  }
  &:active {
    color: white;
  }

  &.small {
    z-index: 22;
    font-size: 0.7em;
    &:hover {
      font-size: 0.8em;
    }
  }
}

h1,
h2,
h3,
h4 {
  margin: 3px 0px;
}

input {
  width: 100%;
  margin: 5px 0px;
  padding: 10px 10px 4px;
  display: inline-block;
  border: none;
  border-bottom: 1.25px solid white;
  box-sizing: border-box;
  background-color: $app-bg-color;

  color: white;
  font-size: 1em;
  font-family: 'Karla' sans-serif;

  &::placeholder {
    opacity: 0.6;
  }

  &:valid {
    background-color: $app-bg-color;
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background-color: $app-bg-color !important;
    background-image: none !important;
    margin: 5px 0px;
    padding: 5px 0px 4px;
    -webkit-appearance: inherit;
  }

  &.textarea-only {
    font-size: 0.8em;
    color: $grey-text;
    background-color: inherit;

    padding: 5px 10px;
    margin: 0;

    border: none;
  }

  &.outline-only {
    text-align: center;

    font-size: 0.8em;
    color: black;
    background-color: inherit;

    padding: 5px 10px;
    margin: 10px 0px;

    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

*:focus {
  outline: none;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.button-text {
  font-size: 1em;
  transition: 0.2s;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      font-size: 1.2em;
      transition: 0.2s;
    }
  }
}

// BUTTON
.button,
button {
  background-color: white;
  position: relative;

  border: none;
  border-radius: 15px;

  box-sizing: border-box;
  padding: 5px 20px;
  margin: 6px 0px;
  text-align: center;

  width: 75%;
  min-width: 200px;
  // min-height: min-content;
  min-height: 45px;
  color: black;
  
  font-size: 1em;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 11;

  filter: drop-shadow($shadow);

  &.card {
    border: 1px solid #d6dbe0;
    border-radius: 5px;

    filter: none;

    padding: 12px 0px;
    margin: 4px 0px;

    visibility: visible;
    opacity: 1;

    transition: visibility 0s, opacity 1s;
  }

  &.grey-hover {
    @media (hover: hover ) {
      &:hover {
        background-color: $app-bg-lighter;
      }
    }
  }

  &.red {
    background-color: red;
    @media (hover: hover) {
      &:hover {
        background-color: darkred;
      }
    }
  }

  &.noclick{
    @media (hover: hover) {
      &:hover {
        cursor: default;
      }
    }
  }

  &.blue {
    background-color: $app-bg-lighter;
    color: white;
    
    @media (hover: hover) {
      &:hover {
        cursor: default;
        background-color: $app-bg-color;
      }
    }
  }

  &.collapsed {
    visibility: hidden;
    opacity: 0;

    transition: visibility 0s 0.2s, opacity 0.2s;
  }

  & > .innertext {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.small {
      font-size: 0.8em;
    }

    &.bold {
      font-weight: bold;
    }
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      // background-color: $button-hover-bg-color;
      background-color: orange;
      color: white;
      transition: 0s;
    }
  }

  &:active,
  &-icon:active {
    // background-color: lightgray;
    background-color: darkorange;
  }
}

.user-row-container {
  display: flex;
  margin-bottom: 5px;
}

.added-user-row {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 28px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 2px;
  text-align: center;
}

.round-icon-button {
  border-radius: 50%;
  width: 26px;
  min-width: 26px;
  height: 26px;

  margin: 0px 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ccc;

  &.red {
    background-color: red;
  }

  &.selected {
    background-color: $app-bg-lighter;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $app-bg-lighter;
      transition: 0.2s;
      cursor: pointer;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: 0.2s;

  &.gray,
  &.grey {
    filter: invert(0.4);
  }

  &.upsidedown {
    transform: rotate(180deg);
    transition: 0.5s;
  }

  &.left {
    position: absolute;
    left: 15px;
    border-radius: 50%;
  }

  &.right {
    position: absolute;
    right: 15px;
    border-radius: 50%;
  }

  &.large {
    width: 35px;
    height: 35px;
    padding: 10px;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
    &.gray,
    &.grey {
      filter: invert(0.4);
    }
  }
}

.scroll-div {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-top: 15px;
  margin-bottom: 50px;

  scroll-behavior: smooth;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 300px;

    // overflow: hidden;

    position: relative;

    .title {
      position: absolute;
      top: 0;
    }
    .scroll-arrow {
      background-color: white;

      position: absolute;
      z-index: 33;

      opacity: 1;
      visibility: visible;
      justify-content: center;

      height: 30px;

      padding: 4px;
      margin: 10px 0px;

      transition: visibility 0s, opacity 0.2s;

      &.top {
        top: 0;
        top: -34px; //offset own height + 4px
        margin-bottom: 0;
      }
      &.bottom {
        bottom: 0;
        margin-top: 5px;
      }

      &.hidden {
        visibility: hidden;
        opacity: 0;

        transition: visibility 0s 0.2s, opacity 0.2s;
      }

      &:active {
        background-color: #ccc;
      }
    }
  }
}

.select-user {
  &.container {
    position: relative;

    box-sizing: border-box;
    width: 100%;

    min-height: 28px;

    border: 1px solid #ccc;
    border-radius: 5px;

    padding-top: 2px;

    text-align: center;
  }

  &.user-item {
    min-height: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border-top: 1px solid rgba(0, 0, 0, 0.0975);
    position: relative;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: #ccc;
        background-color: $app-bg-lighter;
      }
    }

    &:active {
      background-color: orange;
    }
  }

  &.open {
    position: relative;

    overflow: scroll;

    width: 100%;
    height: auto;
    max-height: 235px;

    transition: max-height 0.3s;

    & > .button {
      padding: 0;
      filter: drop-shadow($no-shadow);
    }
  }

  &.closed {
    position: relative;

    max-height: 0px;
    width: 100%;
    overflow: scroll;
    border: none;
    transition: max-height 0.3s;
    & > .button {
      filter: drop-shadow($no-shadow);
    }
  }

  &.message {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    & > .comma-list {
      margin: 0;
      & > li {
        align-content: center;
      }
    }
  }
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 175px;
  max-height: 30px;

  padding: 0px 4px 0px 10px;

  border-radius: 5px;
  border: 1px solid #ccc;

  transition: 0.6s;

  &.hidden {
    max-width: 0px;
    padding: 0;
    margin: 0;

    border: 1px solid white;

    transition: 0.6s;
    img {
      width: 0;
      transition: 0.6s;
    }
    input {
      visibility: hidden;
    }
  }

  .icon {
    opacity: 0.3;
  }
}

.menu {
  min-height: 65px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);

  position: relative;

  &-views {
    display: flex;
    justify-content: space-evenly;

    width: 15%;
    max-width: 50px;
    right: 30px;
  }
}

.drop-down {
  &.container {
    border: 1.5px solid darkgray;
    border-radius: 5px;
    padding: 0px 8px;
  }

  &.open {
    width: 100%;
    height: auto;
    max-height: 235px;
    overflow: scroll;
    transition: max-height 0.3s;
    & > .button {
      filter: drop-shadow($no-shadow);
    }
  }

  &.closed {
    max-height: 0px;
    width: 100%;
    overflow: scroll;
    transition: max-height 0.3s;
    & > .button {
      filter: drop-shadow($no-shadow);
    }
  }

  &.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    position: relative;
  }
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;

  & li {
    display: inline;

    &:first-child:before {
      content: '  ';
    }

    &:after {
      content: ', ';
    }

    &:last-child:after {
      content: '';
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  margin-right: -15px;
  display: none;

  &-track {
    display: none;
  }

  /* Handle */
  &-thumb {
    background: grey;
    border-radius: 7px;

    &:hover {
      background: white;
      cursor: pointer;
    }
  }
}

// &:after {
//   content: '';
//   opacity: 0;
//   z-index: -11;
//   transition: 0.2s;
// }

// &.fade-bottom:after {
//   content: '';
//   position: absolute;
//   z-index: 22;
//   top: 93%;
//   left: 0;
//   width: 100%;
//   // background-image: linear-gradient(
//   //   to bottom,
//   //   rgba(1, 1, 1, 0),
//   //   $app-bg-color 90%
//   // );
//   background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0), white 45%);
//   height: 18%;
//   opacity: 1;
//   transition: 0.2s;
// }

// &.fade-top:before {
//   content: '';
//   position: absolute;
//   z-index: 22;
//   left: 0;
//   width: 100%;
//   background-image: linear-gradient(to top, rgba(1, 1, 1, 0), white 45%);
//   height: 9%;
//   opacity: 1;
//   transition: 0.2s;
// }
