@import './Variables.scss';

@media (hover: hover) {
  .click-to-delete:hover {
    cursor: url('/images/remove-cursor.png') 15 6, pointer;
    font-style: italic;
  }
}

.large-avatar {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #ccc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & > * {
    width: 100%;
  }
}

a {
  text-decoration: underline;
  text-align: center;

  &:visited {
    color: #ccc;
  }
  &:hover {
    cursor: pointer;
    color: orange;
    font-size: 1.05em;
  }
  &:active {
    color: white;
  }

  &.small {
    z-index: 22;
    font-size: 0.7em;
    &:hover {
      font-size: 0.8em;
    }
  }
}

h1,
h2,
h3,
h4 {
  margin: 3px 0px;
}

input {
  width: 100%;
  margin: 5px 0px;
  padding: 10px 10px 4px;
  // padding-left: 15px;
  display: inline-block;
  // border: 1.5px solid #ccc;
  border: none;
  border-bottom: 1.25px solid white;
  // border-radius: 4px;
  box-sizing: border-box;
  background-color: $app-bg-color;

  color: white;
  // text-align: center;
  font-size: 1em;
  font-family: 'Karla' sans-serif;

  // box-shadow: inset 0px 0px 10px 0px #555555;

  &::placeholder {
    // color: #ccc;
    opacity: 0.6;
  }

  &:valid {
    background-color: $app-bg-color;
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background-color: $app-bg-color !important;
    background-image: none !important;
    margin: 5px 0px;
    padding: 5px 0px 4px;
    // -webkit-text-fill-color: white !important;
    -webkit-appearance: inherit;
  }

  // &:focus, textarea:focus {
  //   outline: none;
  // }
}

*:focus {
  outline: none;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.button-text {
  font-size: 1em;
  transition: 0.2s;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      font-size: 1.2em;
      transition: 0.2s;
    }
  }
}



.button,
button {
  background-color: white;
  position: relative;

  // border: 1.5px solid white;
  border: none;
  border-radius: 15px;

  box-sizing: border-box;
  padding: 5px 20px;
  margin: 6px 0px;
  text-align: center;

  // width: max-content;
  width: 75%;
  min-width: 150px;
  min-height: min-content;
  color: black;
  font-weight: bold;
  font-size: 1em;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 11;

  filter: drop-shadow($shadow);

&.card {
  border: 1px solid #d6dbe0;
  border-radius: 5px;

  filter: none;

  padding: 12px 0px;
  margin: 4px 0px;

}

  &.cancel {
    background-color: $button-cancel-bg-color;
  }

  &.success {
    background-color: $button-success-bg-color;
    filter: drop-shadow($no-shadow);
  }

  & > .innertext {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-icon {
    border: 1.5px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: $shadow;

    &.selected {
      background-color: $button-hover-bg-color;
      box-shadow: $no-shadow;
    }
    &.notify {
      background-color: red;
    }
  }

  &.error-msg {
    background-color: $error-bg-color;
    filter: drop-shadow($no-shadow);
    border: none;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background-color: $button-hover-bg-color;
      background-color: orange;
    }

    &.success:hover {
      background-color: $button-success-bg-color;
      cursor: default;
    }

    &.cancel:hover {
      filter: brightness(0.7);
    }

    &.error-msg:hover {
      background-color: $error-bg-color;
      cursor: default;
    }
  }

  &:active,
  &-icon:active {
    background-color: lightgray;
  }
}

.icon {
  width: 20px;
  height: 20px;
  filter: invert(100);
  transition: 0.2s;

  &.round {
    border-radius: 50%;
    width: 26px;
    min-width: 26px;
    height: 26px;

    margin: 0px 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ccc;

    &.selected {
      background-color: $app-bg-lighter;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $app-bg-lighter;
        transition: 0.2s;
      }
    }
  }

  &.upsidedown {
    transform: rotate(180deg);
    transition: 0.5s;
  }

  &.left {
    position: absolute;
    left: 15px;
    border-radius: 50%;
  }

  &.right {
    position: absolute;
    right: 15px;
    border-radius: 50%;
  }

  &.large {
    width: 35px;
    height: 35px;
    padding: 10px;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  @media (prefers-color-scheme: dark) {
    filter: invert(0);
  }
}

.scroll-div {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin: 15px 0px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 300px;

    position: relative;

    .title {
      position: absolute;
      top: 0;

    }
    .scroll-arrow {
      background-color: white;

      position: absolute;
      z-index: 33;

      opacity: 1;
      visibility: visible;
      justify-content: center;

      height: 30px;

      padding: 4px;
      margin: 10px 0px;

      transition: visibility 0s, opacity 0.2s;
      
      &.top {
        top: 0;
        margin-bottom: 0;
      }
      &.bottom {
        bottom: 0;
        margin-top: 5px;
      }

      &.hidden{
        visibility: hidden;
        opacity: 0;

        transition: visibility 0s 0.2s, opacity 0.2s;
      }

      &:active {
        background-color: #ccc;
      }

    }

    // & > * {
    //   display: flex;
    //   flex-direction: column;
    //   width: 100%;
    // }
  }

  // & > * {
  //   width: 90%;
  //   // max-width: 225px;
  // }

  &:after {
    content: '';
    opacity: 0;
    z-index: -11;
    transition: 0.2s;
  }

  &.fade-bottom:after {
    content: '';
    position: absolute;
    z-index: 22;
    top: 93%;
    left: 0;
    width: 100%;
    // background-image: linear-gradient(
    //   to bottom,
    //   rgba(1, 1, 1, 0),
    //   $app-bg-color 90%
    // );
    background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0), white 45%);
    height: 18%;
    opacity: 1;
    transition: 0.2s;
  }

  &.fade-top:before {
    content: '';
    position: absolute;
    z-index: 22;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(1, 1, 1, 0), white 45%);
    height: 9%;
    opacity: 1;
    transition: 0.2s;
  }
}

.menu {
  min-height: 65px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);

  position: relative;

  .search-div {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 175px;
    max-height: 30px;
    
    padding: 0px 4px 0px 10px;
    margin-right: 12px;


    border-radius: 5px;
    border: 1px solid #ccc;

    transition: 0.6s;

&.hidden {
  max-width: 0px;
  padding: 0;
  margin: 0;

  border: 1px solid white;

  transition: 0.6s;
  img {
    width: 0;
    transition: 0.6s;
  }
  input{
    visibility: hidden;
  }
}

    .icon {
      opacity: 0.3;
    }

    input {
      font-size: 0.8em;
      color: #7f7f7f;
      background-color: white;

      padding: 5px 10px;
      margin: 0;

      border: none;

      // max-width: 150px;
    }
  }

  &-views {
    // position: absolute;

    display: flex;
    justify-content: space-evenly;

    width: 15%;
    right: 30px;
  }
}

.drop-down {
  &.container {
    // width: 100%;
    border: 1.5px solid darkgray;
    border-radius: 5px;
    padding: 0px 8px;
  }

  &.open {
    width: 100%;
    height: auto;
    max-height: 235px;
    overflow: scroll;
    // transform: scaleY(1);
    transition: max-height 0.3s;
    & > .button {
      filter: drop-shadow($no-shadow);
    }
  }

  &.closed {
    max-height: 0px;
    width: 100%;
    overflow: scroll;
    // transform: scaleY(0);
    transition: max-height 0.3s;
    & > .button {
      filter: drop-shadow($no-shadow);
    }
  }

  &.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    position: relative;
  }
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;

  & li {
    display: inline;

    &:first-child:before {
      content: '  ';
    }

    &:after {
      content: ', ';
    }

    &:last-child:after {
      content: '';
    }
  }
}

::-webkit-scrollbar {
  width: 15px;
  margin-right: -15px;
  display: none;

  &-track {
    display: none;
  }

  /* Handle */
  &-thumb {
    background: grey;
    border-radius: 7px;

    &:hover {
      background: #white;
      cursor: pointer;
    }
  }
}
