$app-bg-color: #3c434d;
$app-bg-lighter: #79879a;
$app-bg-darker: #30363d;

$bg-ig: #fafafa;
$bg-ig-lighter: #e1e1e1;
$bg-ig-lighter: #f0f0f0;

$grey-text: #7f7f7f;
$grey-text-darker: #595959;

$lawn-green: #7cfc00;
$lawn-green-darker: #6fe200;
$button-card-border: #d6dbe0;



$button-bg-color: #5b677a;
$button-cancel-bg-color: #775e5e;
// $button-success-bg-color: #a6d69e;
$button-success-bg-color: #5b677a;
$button-hover-bg-color: rgba(150, 150, 150, 0.7);
$error-bg-color: #775e5e;

$no-shadow: 5px 5px 4px rgba(0, 0, 0, 0);
$shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);

$height-with-header: calc(100vh - 75px);

