@import '../Elements/Variables.scss';

#groups {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  // height: $height-with-header;
  // bottom: 0;

  text-align: center;

  & > * {
    display: flex;
    max-width: 250px;
    min-width: 245px;
  }

  & > .views {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    max-width: 150px;
    min-height: 90px;
  }
}

#groups-list {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // height: 65vh;
  // height: calc(0.64 * $height-with-header);
  overflow: hidden;

  & > * {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

.actual-list {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 90%;
    max-width: 225px;
  }

  &:after {
    content: '';
    opacity: 0;
    z-index: -11;
    transition: 0.2s;
  }

  &.fade-bottom:after {
    content: '';
    position: absolute;
    z-index: 22;
    // bottom: 0;
    top: 90%;
    left: 0;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(1, 1, 1, 0),
      $app-bg-color 90%
    );
    height: 10%;
    opacity: 1;
    transition: 0.2s;
  }

  &.fade-top:before {
    content: '';
    position: absolute;
    z-index: 22;
    // top: 150px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(
      to top,
      rgba(1, 1, 1, 0),
      $app-bg-color 90%
    );
    height: 9%;
    opacity: 1;
    transition: 0.2s;
  }

  
}

#groups-add {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
