@import '../Elements/Variables.scss';

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  height: 75px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.nav-links > a {
  margin: 0px 10px;
  text-decoration: none;
  color: inherit;
}

.nav-links > .current {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em;
}

@media only screen and (max-width: 720px) {
  .nav-links > a {
    margin: 0px;
  }
}