.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.auth-page > * {
  width: 50vw;
  box-sizing: border-box;
}

.auth-right {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.auth-right > * {
  width: 50%;
}

.auth-left {
  padding-right: 15px;
  text-align: right;
}
